span{
    color: red;
    font-weight: 1000;
    letter-spacing: 0.1em;
}

.container{
    margin: 15vh 0em;
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.announcement{
    padding: 5em;
    margin: 5em;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #936B52;
    text-align: left;
    width: 100%;
}

.announcement .details{
    font-size: 1.2em;
    margin: 0 15px;
}

.announcement .item{
    margin: 20px 30px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 30px;
}

.announcement .description{
    margin: 20px 0;
}

.announcement button{
    border: 2px solid   #F50000EA;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background: transparent;
    font-size: 1.6em;
    color: red;
    margin: 20px 15px;
    font-weight: 500;
    letter-spacing: .3rem;
    float: right;
    transition: 0.4s ease background-color;
}

.announcement button:hover{
    background-color: #F50000EA;
    color: white;
}


h1{
    font-size: 2.6em;
    font-weight: 300;
}

h2{
    font-size: 1.6em;
    font-weight: 300;
}

hr{
    margin: 40px 0 30px 0;
}

p{
    font-size: 1.6em;
}

