.container{
    margin-bottom: 0;
}
.footer{
    position: relative;
}

@media only screen and (max-width: 1200px){
    h1{
        font-size: 3.2em !important; 
    }

    footer {
        position: relative !important;
        bottom: 0;
    }

    .row-item{
        margin: 40px;
    }

    .title{
        font-size: 1.3em !important;
    }

}