
.container{
    margin: 100px 0;
}

@media only screen and (max-width: 1200px){
    .nav{
        position: fixed;
    }

    table{
        margin-top: 2em;
    }

    table, th, td{
        padding: 10px;
        font-size: 1.1rem;
    }

    table td{
        padding: 5px;
    }

    .main-content{
        overflow-x: auto;
    }

    td:nth-of-type(1):before { content: "Title"; text-align: left; }
	td:nth-of-type(2):before { content: "Localization"; text-align: left; }
	td:nth-of-type(3):before { content: "Experience"; text-align: left; }
	td:nth-of-type(4):before { content: "Details"; text-align: left; }
}

