*{
    overflow-x: hidden;
}

.header{
    min-height: 100vh;
    width: 100vw;
}

.header .login-form .login .messages .p{
    color: white;
    font-size: 1.2rem;
}

.container{
    margin-top: 0;
}