.container{
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


table{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
table, th, td{
    border-collapse: collapse;
    font-size: 1.2em;
    border: 1px solid black;
}

table td, table th{
    padding: 15px;
}

table th{
    text-align: left;
    background: #FBF4EF 0% 0% no-repeat padding-box;
}


.my-announcements, .applied-jobs{
    text-align: center;
    width: 100%;
    overflow-x: auto;
}

h1{
    margin: 30px;
}


.settings{
    margin: 50px 0;
}

.settings-button{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.settings a:link, .settings a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.settings a:hover, .settings a:active {
    background-color: red;
}

form{
    display: grid;
    gap: 30px;
    text-align: center;
    width: 100%;
}

form .description textarea{
    width: 80%; 
}

form {
    margin-left: auto;
    margin-right: auto;
}

div form .inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

#upload-cv {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}


@media only screen and (max-width: 1200px){
    table{
        margin-top: 3em;
    }

    div form .inputs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

