@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

body{
    width: 100%;
}

.container{
    margin-top: 12vh;
}

.main-content{
    margin-top: 2vh;
}


.no-valid{
    border: 3px solid !important;
    background-color: pink !important;
}

.row{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row-item{
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.row-item img{
    height: auto;
    width: 100%;
    overflow: hidden;
}

.container{
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

.active-nav{
    height: 100vh !important;
}

.nav {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.nav .nav-bar{
    min-height: 8vh;
    background: #000000A3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row;
    height: 12vh;
    min-height: 70px;
    margin: 0;
}

.nav .nav-bar .logo img{
    position: absolute;
    top: 0;
    left: 0;
    height: 12vh;
    min-height: 70px;
}

.nav .nav-list{
    width: 100%;
}
.nav .nav-list ul{
    width: 100%;
}

.nav .nav-list ul li form{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5vh;
}
.nav .nav-list .search-bar{
    display: flex;
    flex-direction: row;
    float: left;
    margin: 0;
    width: 100%;
    align-items: center;
    margin: 0 70px;
}


.nav .nav-list .search-bar input{
    padding: 5px;
    width: 85%;
    border: none;
}

.nav .nav-bar .nav-list .search-bar button{
    background-color: #F50000EA;
    padding: 5px;
    width: 15%;
    border: none;
}

.nav .nav-bar .nav-list ul{
    position: initial;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 80%;
    float: right;
    max-height: 12vh;

}

.nav .nav-bar .nav-list ul li{
    text-decoration: none;
    max-height: 80%;
    max-width: 80%;
}

.nav .nav-bar .nav-list ul a{
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* End Navbar */

/* Footer */

.footer{
    background-color: #F50000EA;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: 500;
    text-align: center;
}

.footer .information{
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    vertical-align: middle;
}

.footer .information .info-item{
    flex-direction: column;
}

.footer .information p,
.footer .information a{
    padding: 0px 20px;
    margin: 10px 5px;  
    font-size: 1.3rem;
}

.footer .information a{
    color: white;
    text-decoration: none;
    margin: 10px 5px;
    padding: 15px 20px;
}

.footer .icons{
    margin: 15px 20px;
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.footer .icons a img{
    width: 1,4rem;
    margin: 20px;
}

/* End Footer */

.header{
    flex-direction: column;
    background-image: url("../img/startUpImage.svg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.header::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.container .logo{
    text-align: center;
}

.container .login-form{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.container .login-form form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.container .login-form form h2{
    position: relative;
    font-weight: 500;
    color: #F50000EA;
    left: 0;
}

.container .login-form{
    flex-direction: row;
}

.container .login-form button{
    border: 2px solid   #F50000EA;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background: transparent;
    color: white;
    margin: 15px 15px;
    font-weight: 500;
    letter-spacing: .3rem;
    transition: 0.4s ease background-color;
}

.container .login-form button:hover{
    background-color: #F50000EA;
}

.container .login-form button:disabled{
    background: #707070 !important;
    color: white !important;
}

.container .login-form form input{
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 2px solid #F50000EA;
    border-radius: 10px;
    min-width: 200px;
    padding: 20px;
    margin: 0 0 30px 0;
    height: 50px;
    width: 30%;
}

/* Main page section */

.header .row{
    width: 80%;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
}
.header .title p{
    font-size: 4rem;
    color: white;
    text-align: left;
}

.header .row .logo {
    position: relative;
    top: -40px;
    left: 10px;
    margin-left: 50px;
    resize: both;
    overflow: auto;
}

.header .row .btn{
    background-color: #F50000EA;
    text-align: center;
}

.header .row .row-item{
    margin: 0 50px;
}

.header .row .btn a{
    color: white;
    font-size: 4rem;
    font-weight: 500;
    padding: 20px;
}

.info{
    height: 50vh;
}

.create-account .title{
    vertical-align: top;
}
.create-account{
    flex-direction: column;
    background: transparent linear-gradient(180deg, #29323C 0%, #485563 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;;
    height: 100%;
    color: white;
}

.footer-main-page{
    background: transparent linear-gradient(180deg, #EF5454 0%, #DE2A2A 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* End main page section */

/* Register Page */

.container{
    height: 100%;
}

.container .login-form textarea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #F50000EA;
    border-radius: 4px;
    width: 30%;
}

.container .login-form .buttons{
    margin: 10px 20px;
    padding: 10px 20px;
}

/* End Register Page */


/* Home page */
.header-home{
    border-style: none;
    flex-direction: column;
    background-image: url("../img/background-homepage.svg");
    background-size: cover;
    background-position:center;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.header-home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

.header-home .information{
    text-align: center;
    color: #2699FB;
    font-weight: 500;
}

.header-home .information h1{
    font-size: 10rem;
}

.header-home .information p{
    font-size: 1.4rem;
}
/* End Home page */

@media only screen and (max-width: 1200px){
    .container .login-form form .buttons{
        flex-direction: column;
        align-items: center;
    }

    /* Navbar Section*/

    .nav .nav-bar{
        height: 12vh;
    }

    .nav .nav-bar .nav-list .hamburger{
        height: 60px;
        width: 60px;
        border: 3d solid white;
        border-radius: 50%;
        position: absolute;
        top: 1vh;
        right: 2vw;
        z-index: 100;
        cursor: pointer;
        transform: scale(0.8);
        margin-right: 20px;
    }

    .nav .nav-bar .nav-list .hamburger:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid white;
    }

    .nav .nav-bar .nav-list .hamburger .bar{
        height: 2px;
        width: 30px;
        position: relative;
        background-color: white;
        z-index: 101;
        left: 18px !important;
        top: 32px !important;
    }

    .nav .nav-bar .nav-list .hamburger .bar::after,
    .nav .nav-bar .nav-list .hamburger .bar::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color: white;
        transition: 0.3s ease;
        transition-property: top, bottom;
    }

    .nav .nav-bar .nav-list .hamburger .bar::before{
         bottom: 8px;
     }  

    .nav .nav-bar .nav-list .hamburger .bar::after{
         top: 8px;
     }
    
    .nav .nav-bar .nav-list .hamburger.active .bar::before{
        bottom: 0;
    }

    .nav .nav-bar .nav-list .hamburger.active .bar::after{
        top: 0;
    }

    .nav .nav-bar .nav-list ul{
        list-style: none;
        position: absolute;
        background-color: rgb(31, 30, 30);
        text-decoration: none;
        width: 100vw;
        height: 100vh !important;
        left: 100%;
        top: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        transition: 0.3s ease left;
        max-height: 100vh !important;
    }

    .nav .nav-bar .nav-list ul{
        list-style: none;
        position: absolute;
        background-color: rgb(31, 30, 30);
        text-decoration: none;
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.3s ease left;
    }

    
    .nav .nav-bar .nav-list ul.active {
        left: 0;
    }
    
    .nav .nav-bar .nav-list ul a {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: .2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
    }

    .nav .nav-bar .nav-list ul a::after {
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 13rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: .3s ease letter-spacing;
    }
    
    .nav .nav-bar .nav-list ul li:hover a::after{
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    
    #header .nav-list ul li:hover a{
        color: crimson;
    }

    /* End Navbar Section*/

    /* Footer section */

    .footer .icons{
        margin-right: auto;
        margin-left: auto;
    }

    .footer{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;
    }

    .footer .information{
        position: relative;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-content: center;
    }

    /* End Footer section */



    /* Main page section */
    .container .row{
        flex-direction: column;
    }

    .info{
        height: auto;
    }

    .container .row .row-item{
        margin: 15px 0;
    }

    .container .title p{
        margin-top: 20px;
        font-size: 2.2em;
        color: white;
        text-align: center;
    }


    /* End main page section */

    /* Register page */

    .container .login-form form .buttons{
        display: flex;
        flex-direction: column;
    }

    .container .login-form form .buttons button{
        margin-bottom: 30px;
    }

    /* End Register page */
}

@media only screen and (max-width: 400px){
    table{
        left: 10%;
    }
}