h1{
    font-size: 3.2em;
}

.user{
    padding: 5em;
    margin: 5em;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #936B52;
    text-align: left;
    width: 100%;
}

.user .details{
    font-size: 1.3em;
    margin: 0 15px;
}

.user .item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px 30px;
    font-size: 1.3em;
}

.user .description{
    margin: 20px 0;
    font-size: 1.2  em;
}

.user button{
    border: 2px solid   #F50000EA;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    background: transparent;
    font-size: 2em;
    color: red;
    margin: 20px 15px;
    font-weight: 500;
    letter-spacing: .3rem;
    float: right;
    transition: 0.4s ease background-color;
}

.user button:hover{
    background-color: #F50000EA;
    color: white;
}

span{
    color: red;
    font-weight: 1000;
    letter-spacing: 0.1em;
}



@media only screen and (max-width: 1200px){
    .container{
        font-size: 0.8em;
    }

    .user .item{
        margin-left: -15px;
        margin-right: 0;
    }
}